matrix:
  include:
    # --- api
    - language: go
      go:
        - "1.14"
      before_script:
        - cd api
      script: go test -v ./...
      services:
        - docker
      # before_deploy:
      #   - cd api
      deploy:
        provider: script
        script: bash build-n-push.sh
        on:
          branch: master
    # --- front-www
    - language: node_js
      node_js:
        - "14.4.0"
      services:
        - docker
      before_script:
        - cd front-www
      script: echo "test is skipped for front-www"
      # before_deploy:
      #   - cd front-www
      deploy:
        provider: script
        script: bash build-n-push.sh
        on:
          branch: master
    # --- front-admin
    - language: node_js
      node_js:
        - "14.4.0"
      services:
        - docker
      before_script:
        - cd front-admin
      script: echo "test is skipped for front-admin"
      # before_deploy:
      #   - cd front-admin
      deploy:
        provider: script
        script: bash build-n-push.sh
        on:
          branch: master
    # multiple CIs are allowed
    # - language: ...
